/* Regular Reactive Webpage Design */
#root {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color:rgb(0, 0, 0);
  word-wrap: break-word;

  a {
    color:rgb(96, 6, 170);
  }

  a :hover {
    color:#c8e719;
  }

  h1 {
    color: rgba(0, 255, 255, 0.616);
  }

  h2 {
    color:  rgba(0, 255, 255, 0.616);
  }

  ul {
    list-style-type: none;
  }

.profilePic {
  margin-top: 15%;
  width: 12em;       /* control width */
  height: 12em;      /* control height */
  object-fit: cover;  /* ensures image fills the frame */
  border-radius: 50%; /* makes it oval/circle depending on aspect ratio */
  border: 2px solid #0d6a8f; /* frame */
  padding: 1%;
  will-change: filter;
  transition: filter 300ms;
}

.profilePic:hover {
  filter: drop-shadow(0 0 2em #4dcff3aa);
}

/* background card */
.card {
  padding: 5%;
  margin-top: 5%;
  width: auto;
  max-width: 90%;
  justify-content: center;
  background-color: #073041;
  border-radius: 15px;
  box-shadow: 2px 05px 20px 2px rgb(161, 161, 161) inset;
}

/* social bar hosts buttons with external links, contact, and resume download */
.socialBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: space-around;
  gap: 1%;
  height: auto;
  button {
    font-size: smaller;
    height: 100%;
    width: 100%;
    max-width: 100%;
    justify-items: safe;
  }
}

/* tabs are part of nav-bar system */
.tablist {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center; /* centers the buttons */
  gap: 1%;               /* space between tabs */
  padding: 5%;
  width: 100%;             /* ensure full-width row to allow centering */
  box-sizing: border-box;
}

/* basic tab button styles  for nav-bar*/
.tab {
  background: transparent;
  border: none;
  padding: 2% 2%;
  cursor: pointer;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: border-color 120ms ease, transform 120ms ease;
}

.tab:hover {
  transform: translateY(-1px);
  border-bottom-color:#00ddd2;
}

/* active tab visual */
.tab.active {
  border-bottom-color:#17a7e0;
}

.summaryCard {
  height: auto;
  padding: 8%;
  margin-bottom: 5%;
  background-color: #17a7e0;
  border-radius: 20px;
  box-shadow: 0px 15px 10px #000000 inset;
}

.summaryCard:hover {
  max-height: max-content;
  box-shadow: 0px 15px 20px  #000000 inset;
}

.skillContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  align-items: auto;
  justify-items: auto;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 25%;
  gap: 2%;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 10px 9px #17a7e0;

  .skillContainerItem {
    height: auto;
    justify-content: center;
    align-content: center;
    padding: 15%;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .skillContainerItem:hover {
    max-height: 100%;
    box-shadow: 0px 15px 20px  #000000 inset;
  }
}

.astroProjectContainer {
  padding: 2%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-template-rows: auto auto auto;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  row-gap: 1%;
  column-gap: 1%;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin-bottom: 10%;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 10px 9px #17a7e0;

  .astroProjectContainerItem {
    width: 100%;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: center;
    align-content: center;
    margin: 1%;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .astroProjectContainerItem:hover {
    max-height: 100%;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .astroContainerSubItem1 {
    height: 100%;
    max-height: 100%;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-content: center;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .astroContainerSubItem1:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .astroBeatLabLogo {
    flex: 4;
    height: auto;
    max-height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-content: center;
    img {
      border: 1px solid #ddd;
      border-radius: 4px;
      width: 100%;
      height: 100%;
    }
  }

.astroContainerSubItem2 {
    height: 100%;
    max-height: 100%;
    padding: 2%;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-content: center;
    align-content: center;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .astroContainerSubItem2:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .astroContainerItemList {
    height: auto;
    width: 93%;
    padding: 2%;
    grid-column: 1 / span 3;
    justify-content: center;
    align-content: center;
    margin: 5%;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .astroContainerItemList:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }
}

.epkProjectContainer {
  padding: 2%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  row-gap: 1%;
  column-gap: 1%;
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
  margin-bottom: 2.5em;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 10px 9px #17a7e0;

  .epkProjectContainerItem {
    width: 94%;
    padding: 2%;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    align-content: center;
    margin: 1em;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .epkProjectContainerItem:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .epkContainerSubItem1 {
    padding: 10%;
    height: auto;
    max-height: 90%;
    max-height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
    align-content: center;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .epkContainerSubItem1:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .epkContainerSubItem2 {
    padding: 10%;
    height: auto;
    max-height: 90%;
    max-height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    align-content: center;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .epkContainerSubItem2:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .epkContainerItemList {
    height: auto;
    width: 90%;
    padding: 2%;
    grid-column: 1 / span 2;
    justify-content: center;
    align-content: center;
    margin: 5%;
    background-color: #17a7e0;
    border-radius: 20px;
    box-shadow: 0px 15px 10px #000000 inset;
  }

  .epkContainerItemList:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }
}

.educationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
  gap: 2%;
  height: auto;
  padding: 1em;
  margin-bottom: 2.5em;
  background-color: black;
  border-radius: 20px;
  box-shadow: 0px 10px 9px #17a7e0;

  .eduSNHUContainerItem {
    flex: 0.8;
    width: 200px;
    text-align: center;
    align-content: center;
    padding: 10px;
    background-color: #17a7e0;
    border-radius: 10px;
    box-shadow: 0px 15px 10px #000000 inset;
    img {
      width: 100%;
      background-color: #ddd;
      border-radius: 15pt;
    }
  }

  .eduSNHUContainerItem:hover {
    max-height: 100%;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .eduSNHUContainerSubItem {
    padding: 5px;
  }

  .eduSAEContainerItem {
    flex: 0.8;
    width: 60%;
    text-align: center;
    align-content: space-between;
    justify-content: space-evenly;
    padding: 10px;
    background-color: #17a7e0;
    border-radius: 10px;
    box-shadow: 0px 15px 10px #000000 inset;
    img {
      width: 100%;
      background-color: #ddd;
      border-radius: 15pt;
    }
  }

  .eduSAEContainerItem:hover {
    max-height: max-content;
    box-shadow: 0px 15px 20px  #000000 inset;
  }

  .eduSAEContainerSubItem {
      padding: 5px;
  }

}

.email-me {
  color: #888;
}

}

/* Very-Small Device Overrides */
@media (max-width: 370px) {
  #root {
    font-size: 60%;

    .h1 {
      font-size: 65%;
    }

    .h2 {
      font-size: 60%;
    }

    .h3 {
      font-size: 55%;
    }

    .h4 {
      font-size: 50%;
    }
  }
}

